body {
  text-align: center;
}

#welcomeScreen {
  display: none;
}

#playerSelect {
  display: none;
}

#gameGrid {
  display: none;
}

#endGame {
  display: none;
}

#selectNumberPlayers {
  width: 40%;
  float: left;
  margin-left: 30%;
  margin-right: 40px;
}

#playerSelectButton {
  float: left;
}

#containsAll {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#playerGrid button{
  margin-top: 100px;
}

#playerGrid {
  margin: 30px;
  border: 2px solid black;
}
#threePlayerView {
  display: none;
}

#fourPlayerView {
  display: none;
}

#winButton {
  display: none;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 5em;
}
.player-pig {
  width: 40%;
  float: left;
  /* mix-blend-mode: multiply; */
    border-radius: 35%;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-10%, -30%); */
}


.dice-1 {
  font-size: 4em;
  /* display: none; */
}

.dice-2 {
  font-size: 4em;
  /* display: none; */
}

.dice-3 {
  font-size: 4em;
  /* display: none; */
}

.dice-4 {
  font-size: 4em;
  /* display: none; */
}

.dice-5 {
  font-size: 4em;
  /* display: none; */
}

.dice-6 {
  font-size: 4em;
  /* display: none; */
}

.players-window {
  /* border: 2px solid black; */
}

.twoPlayerView {
  display: none;
}

.col-md-4 {
  width: 300px;
  height: 300px;

}
