body {
  text-align: center;
}
button {
  border: 2px solid black;
}

#gameGridHeading {
  background: rgba(255, 255, 255, 0.1);
  height: 100px;
}

#diceBox {
  height: 260px;

  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid green;
}

#show-dice {
  margin-top: 125px;
}

#welcomeScreen {
  width: 1040px;
  height: 1036px;
  display: none;
}

#playerSelect {
  width: 1040px;
  height: 1036px;
  display: none;
}

#gameGrid {
  display: none;
}

#endGame {
  width: 1040px;
  height: 1036px;
  display: none;
}

#selectNumberPlayers {
  width: 40%;
  float: left;
  margin-left: 30%;
  margin-right: 40px;
}

#playerSelectButton {
  float: left;
}

#containsAll {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

#gameGrid button{
  margin: 20px;

}

#gameGrid {
  /* margin: 30px; */
  border: 2px solid black;
}

#threePlayerView {
  display: none;
}

#fourPlayerView {
  display: none;
}

#winButton {
  display: none;
}

.card {
  background: rgba(255, 255, 255, 0.5);
}

.jumbotron {
  background: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 5em;
}
.player-pig {
  width: 40%;
  float: left;
  /* mix-blend-mode: multiply; */
    border-radius: 35%;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-10%, -30%); */
    margin-top: 5%;
    margin-right: 8%;
}


.dice-1 {
  font-size: 5em;
    margin-top: 80px;
  /* display: none; */
}

.dice-2 {
  font-size: 5em;
    margin-top: 80px;
  /* display: none; */
}

.dice-3 {
  font-size: 5em;
    margin-top: 80px;
  /* display: none; */
}

.dice-4 {
  font-size: 5em;
    margin-top: 80px;
}

.dice-5 {
  font-size: 5em;
    margin-top: 80px;
}

.dice-6 {
  font-size: 5em;
    margin-top: 80px;
}


.twoPlayerView {
  display: none;
}

.col-md-4 {
  width: auto;
  height: auto;

}
